In [1]:
import pandas as pd
#import samap
import numpy as np
import scanpy as sc

/home/passala/miniconda3/envs/SAMap/lib/python3.7/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
np.random.seed(233)

In [3]:
A=pd.read_csv('/data/passala/Coexpressolog_paper_data/Sammap_files/blast_maps/maps/ZMOS/OS_to_ZM.txt', sep = '\t',index_col=0,header=None,)
B=pd.read_csv('/data/passala/Coexpressolog_paper_data/Sammap_files/blast_maps/maps/ZMOS/ZM_to_OS.txt', sep = '\t',index_col=0,header=None,)

In [4]:
# A[1] = A[1].str.split("_").str[0]
# A.index = A.index.str.split(".").str[0]
# A.to_csv('/data/passala/Coexpressolog_paper_data/Sammap_files/blast_maps/maps/ZMOS/OS_to_ZM.txt',header = False, sep = '\t')

In [5]:
# B[1] = B[1].str.split(".").str[0]
# B.index = B.index.str.split("_").str[0]
# B.to_csv('/data/passala/Coexpressolog_paper_data/Sammap_files/blast_maps/maps/ZMOS/ZM_to_OS.txt',header = False, sep = '\t')
B

,1,2,3,4,5,6,7,8,9,10,11
0,,,,,,,,,,,
0,LOC_Os12g38000,38.525,122,60,3,1,111,98,215,8.080000e-19,80.9
1,LOC_Os12g38000,38.596,114,55,3,24,126,106,215,2.310000e-15,72.0
2,LOC_Os12g38000,38.596,114,55,3,24,126,106,215,1.790000e-14,71.6
3,LOC_Os12g38000,40.678,118,63,3,296,406,98,215,8.610000e-15,75.1
4,LOC_Os12g38000,97.701,261,6,0,1,261,1,261,0.000000e+00,523.0
...,...,...,...,...,...,...,...,...,...,...,...
5271448,LOC_Os08g23950,23.611,360,181,13,85,426,72,355,2.230000e-08,57.4
5271449,LOC_Os01g03260,23.704,270,159,10,260,504,190,437,7.190000e-07,52.8
5271450,LOC_Os05g13480,86.885,61,8,0,85,145,125,185,5.810000e-26,107.0
5271451,LOC_Os05g13480,86.885,61,8,0,85,145,125,185,1.710000e-26,108.0
5271452,LOC_Os05g13480,86.885,61,8,0,85,145,125,185,1.480000e-26,108.0

In [6]:
# gene_convertor_for_rice = pd.read_csv('/data/passala/Collaborator_Data/GEO_sourced_single_cell_for_CRUSH/Rice_japonica/genome_conversion/cleaned_conversion_with_duplicates.csv')
# gene_convertor_for_rice['MSU Format'] = gene_convertor_for_rice['MSU Format'].str.replace('-','_')
# gene_convertor_for_rice

In [7]:
# A = A.merge(right = gene_convertor_for_rice, left_index=True, right_on='MSU Format')
# A

In [8]:
# A.index = A['MSU Format']
# A.index.names =[0]
# A

In [9]:
#A = A.drop(columns = ['RAP Format','MSU Format'])
#A

In [10]:
#A.to_csv('/data/passala/Coexpressolog_paper_data/Sammap_files/blast_maps/maps/ZMOS/OS_to_ZM.txt',header = False, sep = '\t')

In [11]:
# B = B.merge(right = gene_convertor_for_rice, left_on=1, right_on='MSU Format')

In [12]:
#B[1] = B['MSU Format']
#

In [13]:
# B = B.drop(columns = ['RAP Format','MSU Format'])
# B

In [14]:
#B.to_csv('/data/passala/Coexpressolog_paper_data/Sammap_files/blast_maps/maps/ZMOS/ZM_to_OS.txt',header = False, sep = '\t')

In [15]:
rice_sc_data = sc.read_10x_mtx('/home/passala/Temp_directory_for_reading_error_all_stuff_backed_up_if_MP_is_PhD_delete/GEO_sourced_single_cell_for_CRUSH/Rice_japonica/Cell_ranger_results/Rice_paper/outs/filtered_feature_bc_matrix',cache=True)
maize_Data = sc.read_10x_mtx('/home/passala/Temp_directory_for_reading_error_all_stuff_backed_up_if_MP_is_PhD_delete/GEO_sourced_single_cell_for_CRUSH/Maize_nitrate_root_SC/Cell_ranger_output_folder/Full_output/cells_with_nitrate/outs/filtered_feature_bc_matrix', cache = True)

In [16]:
sc.pp.filter_cells(maize_Data, min_genes=200)
sc.pp.filter_cells(rice_sc_data, min_genes=200)

In [17]:
type(maize_Data.obs.index)

pandas.core.indexes.base.Index

In [18]:
maize_Data.obs.index = maize_Data.obs.index.astype('str')
rice_sc_data.obs.index = rice_sc_data.obs.index.astype('str')

In [19]:
rice_sc_data.var

                  gene_ids    feature_types
Os01g0100100  Os01g0100100  Gene Expression
Os01g0100200  Os01g0100200  Gene Expression
Os01g0100300  Os01g0100300  Gene Expression
Os01g0100400  Os01g0100400  Gene Expression
Os01g0100466  Os01g0100466  Gene Expression
...                    ...              ...
Os12g0641200  Os12g0641200  Gene Expression
Os12g0641300  Os12g0641300  Gene Expression
Os12g0641400  Os12g0641400  Gene Expression
Os12g0641500  Os12g0641500  Gene Expression
Os12g0641600  Os12g0641600  Gene Expression

[37863 rows x 2 columns]

In [20]:
gene_convertor_for_rice = pd.read_csv('/data/passala/Collaborator_Data/GEO_sourced_single_cell_for_CRUSH/Rice_japonica/genome_conversion/cleaned_conversion_with_duplicates.csv')
gene_convertor_for_rice

         RAP Format      MSU Format
0      Os01g0100100  LOC-Os01g01010
1      Os01g0100200  LOC-Os01g01019
2      Os01g0100400  LOC-Os01g01030
3      Os01g0100500  LOC-Os01g01040
4      Os01g0100600  LOC-Os01g01050
...             ...             ...
33662  Os12g0640900  LOC-Os12g44340
33663  Os12g0641100  LOC-Os12g44360
33664  Os12g0641300  LOC-Os12g44370
33665  Os12g0641400  LOC-Os12g44380
33666  Os12g0641500  LOC-Os12g44390

[33667 rows x 2 columns]

In [21]:
rice_sc_data.var = rice_sc_data.var.merge(right = gene_convertor_for_rice, left_index= True, right_on = 'RAP Format', how = 'left')
rice_sc_data

/home/passala/miniconda3/envs/SAMap/lib/python3.7/site-packages/anndata/_core/anndata.py:801: UserWarning:
AnnData expects .var.index to contain strings, but got values like:
    [0.0, 1.0, nan, 2.0, nan]

    Inferred to be: floating

  value_idx = self._prep_dim_index(value.index, attr)

AnnData object with n_obs Ã— n_vars = 14943 Ã— 37863
    obs: 'n_genes'
    var: 'gene_ids', 'feature_types', 'RAP Format', 'MSU Format'

In [22]:
rice_sc_data.var = rice_sc_data.var.set_index('MSU Format', drop= True)

In [23]:
rice_sc_data.var

                    gene_ids    feature_types    RAP Format
MSU Format
LOC-Os01g01010  Os01g0100100  Gene Expression  Os01g0100100
LOC-Os01g01019  Os01g0100200  Gene Expression  Os01g0100200
NaN             Os01g0100300  Gene Expression  Os01g0100300
LOC-Os01g01030  Os01g0100400  Gene Expression  Os01g0100400
NaN             Os01g0100466  Gene Expression  Os01g0100466
...                      ...              ...           ...
NaN             Os12g0641200  Gene Expression  Os12g0641200
LOC-Os12g44370  Os12g0641300  Gene Expression  Os12g0641300
LOC-Os12g44380  Os12g0641400  Gene Expression  Os12g0641400
LOC-Os12g44390  Os12g0641500  Gene Expression  Os12g0641500
NaN             Os12g0641600  Gene Expression  Os12g0641600

[37863 rows x 3 columns]

In [24]:
rice_sc_data = rice_sc_data[:,~rice_sc_data.var.index.isna()]

In [25]:
rice_sc_data.var.index = rice_sc_data.var.index.str.replace('-','_')

In [26]:
rice_sc_data.var

                    gene_ids    feature_types    RAP Format
MSU Format
LOC_Os01g01010  Os01g0100100  Gene Expression  Os01g0100100
LOC_Os01g01019  Os01g0100200  Gene Expression  Os01g0100200
LOC_Os01g01030  Os01g0100400  Gene Expression  Os01g0100400
LOC_Os01g01040  Os01g0100500  Gene Expression  Os01g0100500
LOC_Os01g01050  Os01g0100600  Gene Expression  Os01g0100600
...                      ...              ...           ...
LOC_Os12g44340  Os12g0640900  Gene Expression  Os12g0640900
LOC_Os12g44360  Os12g0641100  Gene Expression  Os12g0641100
LOC_Os12g44370  Os12g0641300  Gene Expression  Os12g0641300
LOC_Os12g44380  Os12g0641400  Gene Expression  Os12g0641400
LOC_Os12g44390  Os12g0641500  Gene Expression  Os12g0641500

[29169 rows x 3 columns]

In [35]:
rice_sc_data.var_names_make_unique()

In [36]:
maize_Data.write_h5ad('/home/passala/Temp_directory_for_reading_error_all_stuff_backed_up_if_MP_is_PhD_delete/GEO_sourced_single_cell_for_CRUSH/SAMMAP_stuff/maize_full_sc.h5ad')
rice_sc_data.write_h5ad('/home/passala/Temp_directory_for_reading_error_all_stuff_backed_up_if_MP_is_PhD_delete/GEO_sourced_single_cell_for_CRUSH/SAMMAP_stuff/rice_full_sc.h5ad')

In [37]:
maize_labels = pd.read_csv('/data/passala/Coexpressolog_paper_data/Sammap_files/blast_maps/single_cell_labels/maize_labels.csv', index_col=0)
rice_labels = pd.read_csv('/data/passala/Coexpressolog_paper_data/Sammap_files/blast_maps/single_cell_labels/rice_ultra_trimmed.csv', index_col=0)

In [38]:
rice_sc_data = rice_sc_data[rice_sc_data.obs.index.isin(rice_labels.index),:]
rice_sc_data

View of AnnData object with n_obs Ã— n_vars = 3500 Ã— 29169
    obs: 'n_genes'
    var: 'gene_ids', 'feature_types', 'RAP Format'

In [39]:
maize_Data = maize_Data[maize_Data.obs.index.isin(maize_labels.index),:]
maize_Data

View of AnnData object with n_obs Ã— n_vars = 2832 Ã— 46430
    obs: 'n_genes'
    var: 'gene_ids', 'feature_types'

In [40]:
maize_Data.write_h5ad('/home/passala/Temp_directory_for_reading_error_all_stuff_backed_up_if_MP_is_PhD_delete/GEO_sourced_single_cell_for_CRUSH/SAMMAP_stuff/maize_filtered_sc.h5ad')

In [41]:
rice_sc_data.write_h5ad('/home/passala/Temp_directory_for_reading_error_all_stuff_backed_up_if_MP_is_PhD_delete/GEO_sourced_single_cell_for_CRUSH/SAMMAP_stuff/rice_filtered_sc.h5ad')